body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

#header-img {
    width: 100px;
    height: 100px;
}

nav ul {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #008080;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

nav ul li:hover {}

#big-image {
    background-image: url('https://c.pxhere.com/photos/ea/ef/photo-1404178.jpg!d');
    background-size: cover;
    background-position: center;
    min-height: 350px;
}

#products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: #ccc;
    padding: 50px;
}

main {
    text-align: center;
    padding: 8%;
}

footer {
    text-align: center;
    margin: 20px;
}

#contact {
    text-align: center;
    background-color: #ccc;
    padding: 50px;
}

#about {
    text-align: center;
    padding: 50px;
    background-color: #008080;
}

input,
textarea,
select,
button {
    width: 200px;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#prod1,
#prod2,
#prod3 {
    border-style: solid;
    border-color: #008080;
    padding: 20px;
    margin: 5px;
}

#submit {
    background-color: #008080;
    color: white;
    font-size: 19px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(1, 124, 165);
    }
}